target
*.log
*.log.?
.settings
.project
.classpath
.factorypath
.DS_Store
*.swp
rebel.xml
bin
config.codekit
dependency-reduced-pom.xml
node_modules
.apt_generated_tests

Podfile.lock
mobile/ios/Heimdall/Pods
xcuserdata/

/browser-extension/node
/browser-extension/build

/mobile/android/*.iml
/mobile/android/**/*.iml
/mobile/android/local.properties
/mobile/android/.idea
/mobile/android/.gradle
/mobile/android/**/build
/mobile/android/**/release
